
    .navbar {
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        background-color: #E63946; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
    }

    .navbar .titulo-barra p {
        color: white;
        text-decoration: none;
        margin-left: 30%;
        border: 2px solid #E63946; 
        width: 98%;
        font-size: large;
    }

    .navbar .navegacion a {
        text-decoration: none;
        color: white;
        margin: 0 20px;
    }

    .navbar .navegacion a:hover {
        text-decoration: underline;
        color: #FFBE0B;
    }

    .icono-menu{
        display: none;
    }
    .icono-cerrar{
        display: none;
    }

    @media (max-width: 768px) {
    .navbar-contraido {
        display: flex; /* Asegura que los elementos estén en fila */
        flex-direction: row; /* Fila */
        align-items: center; /* Alinea los elementos verticalmente en el centro */
        justify-content: space-between; /* Asegura que el icono y el título estén separados */
        width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
        padding: 10px; /* Espaciado alrededor */
    }

    .navbar {
        display: flex; /* Cambiar la dirección a columna para apilar los elementos */
        flex-direction: column; /* Los elementos dentro de .navbar estarán en columna */
        align-items: center; /* Centra los elementos horizontalmente */
        justify-content: flex-start; /* Asegura que los elementos estén alineados desde arriba */
        width: 100%; /* Asegura que el menú ocupe todo el ancho */
        padding: 10px;
    }

    .navbar .titulo-barra {
        width: auto; /* El ancho del título se ajusta al contenido */
        text-align: center; /* Centra el texto */
        margin: 0;
    }

    .navbar .titulo-barra p {
        margin: 0;
        border: none;
        font-size: large;
    }

    .navbar .navegacion {
        display: none; /* Ocultar el menú inicialmente */
        flex-direction: column; /* Los enlaces estarán en columna */
        width: 100%;
        text-align: center;
        background-color: #FF5E5B;
        padding: 10px 0;
    }

    .navbar .navegacion a {
        display: block;
        margin: 10px 0;
        color: white;
    }

    .icono-menu {
        display: block !important;
        font-size: 24px;
        width: 20px;
        height: 20px;
        color: white;
        cursor: pointer;
        z-index: 100;
    }

    .icono-cerrar {
        display: none; /* El icono de cerrar está inicialmente oculto */
        font-size: 24px;
        color: white;
        cursor: pointer;
        margin-left: auto; /* Para mover el icono al extremo derecho */
        margin-right: 40px; /* Asegura que esté a unos 20px del borde */
    }

    /* Mostrar la navegación cuando se le añade la clase 'visible' */
    .navegacion.visible {
        display: flex;
    }
}




    .contenedor-formulario .titulo-formulario h1 {
        margin-top: 10% ;
        text-align: center;
    }

    .contenedor-formulario {
        max-width: 600px;
        margin: 100px auto -1; /* Añade un margen superior para evitar que el contenido se superponga con la barra */
        padding: 20px;
        background-color: #F4F4F4; 
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: #FF5E5B;
        text-align: center;
        margin-bottom: 20px;
    }

    .formulario {
        margin-bottom: 15px;
    }

    .formulario label {
        display: block;
        margin-bottom: 5px;
        margin-top: 2.5%;
        font-weight: bold;
        color: #166534; 
    
    }

    .formulario input, .formulario select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .formulario input:focus, .formulario select:focus {
        outline: none;
        border-color: #84DCC6; 
        box-shadow: 0 0 5px #84DCC6;
    }

    button {
        background-color: #84DCC6;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        margin-top: 2.5%;
    }

    button:hover {
      background-color: #66B8A3; 
    }

