.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #243447; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.navbar .titulo-barra p {
    color: #E1E8ED; 
    text-decoration: none;
    margin-left: 30%;
    border: 2px solid #243447; 
    width: 98%;
    font-size: large;
}

.navbar .navegacion a {
    text-decoration: none;
    color: #E1E8ED; 
    margin: 0 20px;
}

.navbar .navegacion a:hover {
    text-decoration: underline;
    color: #88C0D0; 
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #88C0D0; 
}

.contenedor-pedidos h1 {
    color: #243447; 
}

th {
    padding: 8px;
    border: 1px solid #88C0D0; 
    text-align: left;
    background-color: #88C0D0; 
    color: #E1E8ED; 
}

td {
    padding: 8px;
    color: #333333; 
    text-align: left;
    border: 1px solid #88C0D0; 
}

tr:nth-child(even) {
    background-color: #E6E6E6; 
}

tr:hover {
    background-color: #88C0D050; 
    color: #333333; 
}

.btn-exportar {
    background-color: #4C566A; 
    color: #ECEFF4; 
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-exportar:hover {
    background-color: #88C0D0; 
}

.btn-exportar:active {
    background-color: #4C566A; 
    transform: scale(0.98);
}

.contenedor-pedidos button {
    margin-top: 20px;
    display: inline-block;
}

h2 {
    color: #243447; 
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

ul li {
    padding: 8px;
    margin: 5px 0;
    color: #333333; 
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.icono-menu {
    display: none;
}

.icono-cerrar {
    display: none;
}

@media (max-width: 768px) {
    .navbar-contraido {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding: 10px;
    }

    .navbar .titulo-barra {
        width: auto;
        text-align: center;
        margin: 0;
    }

    .navbar .titulo-barra p {
        margin: 0;
        border: none;
        font-size: large;
    }

    .navbar .navegacion {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .navbar .navegacion a {
        display: block;
        margin: 10px 0;
        color: #E1E8ED; 
    }

    .icono-menu {
        display: block ;
        font-size: 24px;
        width: 20px;
        height: 20px;
        margin-left: 5%;
        margin-bottom: 10px;
        color: #E1E8ED; 
        cursor: pointer;
        z-index: 100;
    }

    .icono-cerrar {
        display: none;
        font-size: 24px;
        color: #E1E8ED; 
        cursor: pointer;
        margin-left: 6%;
    }

    .navegacion.visible {
        display: flex;
    }
}
