  /* Estilo de la barra de navegación */
  .navbar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: #243447; /* Azul marino elegante */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }

  .navbar .titulo-barra p {
      color: #E1E8ED; /* Blanco grisáceo */
      text-decoration: none;
      margin-left: 30%;
      border: 2px solid #243447; 
      width: 98%;
      font-size: large;
  }

  .navbar .navegacion a {
      text-decoration: none;
      color: #E1E8ED; /* Blanco grisáceo */
      margin: 0 20px;
  }

  .navbar .navegacion a:hover {
      text-decoration: underline;
      color: #88C0D0; /* Azul cielo suave */
  }

  /* Estilo del footer */
  footer {
    background-color: #d3d3d3; /* Gris claro */
    color: #243447; /* Azul marino elegante */
    padding: 20px;
    text-align: center;
  }

  footer a {
    color: #243447; /* Azul marino elegante */
    text-decoration: none;
    font-weight: bold;
  }

  footer a:hover {
    color: #88C0D0; /* Azul cielo suave */
  }

  /* Estilo de tarjetas */
  .contenedor-tarjetas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-top: 5%;
  }

  .tarjeta {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #FFFFFF; /* Blanco nieve */
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .tarjeta img {
    width: 100%;
    object-fit: cover;
  }

  .tarjeta h3 {
    color: #243447; /* Azul marino elegante */
    font-size: 1.5rem;
    margin: 10px 0;
  }

  .tarjeta p {
    color: #555;
    font-size: 1rem;
    margin: 10px 15px;
  }

  .tarjeta button {
    background-color: #4C566A; /* Gris oscuro */
    color: #ECEFF4; /* Blanco frío */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
  }

  .tarjeta button:hover {
    background-color: #88C0D0; /* Azul cielo suave */
    transform: scale(1.05); 
  }

  /* Estilo de la ventana emergente */
  .ventanaEmergente {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 3000;
  }

  .ventanaEmergente-contenido {
    display: flex;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 3px solid #4C566A; /* Gris oscuro */
    color: #000;
    overflow-y: auto;
    position: relative; 
  }
  .ventanaEmergente h2 {
    color: #243447; /* Azul marino elegante */
    font-size: 1.8rem;
    margin-bottom: 15px;
  }

  .ventanaEmergente p {
    color: #555; 
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .ventanaEmergente button {
    background-color: #4C566A; /* Gris oscuro */
    color: #ECEFF4; /* Blanco frío */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
  }

  .ventanaEmergente button:hover {
    background-color: #88C0D0; /* Azul cielo suave */
    transform: scale(1.05); 
  }

  .ventanaEmergente-imagen img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }

  .btn-exportar {
    margin-top: 20px;;
    background-color: #4C566A; /* Gris oscuro */
    color: #ECEFF4; /* Blanco frío */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Animación de cambio de color */
  }

  .btn-exportar:hover {
    background-color: #88C0D0; /* Azul cielo suave */
  }

  .btn-exportar:active {
    background-color: #243447; /* Azul marino elegante */
    transform: scale(0.98); /* Efecto de "presionar" */
  }

  .contenedor-pedidos button {
    margin-top: 20px; /* Espacio superior para el botón */
    display: inline-block;
  }


  .icono-menu {
    display: none;
}

.icono-cerrar {
    display: none;
}

@media (max-width: 768px) {
    .navbar-contraido {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding: 10px;
    }

    .navbar .titulo-barra {
        width: auto;
        text-align: center;
        margin: 0;
    }

    .navbar .titulo-barra p {
        margin: 0;
        border: none;
        font-size: large;
    }

    .navbar .navegacion {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        /*background-color: #2E4053; /* Azul grisáceo oscuro */
        padding: 10px 0;
    }

    .navbar .navegacion a {
        display: block;
        margin: 10px 0;
        color: #E1E8ED; /* Blanco grisáceo */
    }

    .icono-menu {
        display: block ;
        font-size: 24px;
        width: 20px;
        height: 20px;
        margin-left: 5%;
        margin-bottom: 10px;
        color: #E1E8ED; /* Blanco grisáceo */
        cursor: pointer;
        z-index: 100;
    }

    .icono-cerrar {
        display: none;
        font-size: 24px;
        color: #E1E8ED; /* Blanco grisáceo */
        cursor: pointer;
        margin-left: 6%;
    }

    .navegacion.visible {
        display: flex;
    }
}